jpa-basic-pdf/01. JPA 소개.pdf
jpa-basic-pdf/02. JPA 시작.pdf
jpa-basic-pdf/03. 영속성관리.pdf
jpa-basic-pdf/04. 엔티티 매핑.pdf
jpa-basic-pdf/05. 연관관계 매핑 기초.pdf
jpa-basic-pdf/06. 다양한 연관관계 매핑.pdf
jpa-basic-pdf/07. 고급 매핑.pdf
jpa-basic-pdf/08. 프록시와 연관관계 관리.pdf
jpa-basic-pdf/09. 값 타입.pdf
jpa-basic-pdf/10. 객체지향 쿼리 언어.pdf
*.class
